.itemA{
    padding-top: 32px;
}
.Mui-selected span{
    color: #fff !important;
}
.Mui-selected {
    background-color: #5664d2 !important;
}
.css-1760dni-MuiButtonBase-root-MuiTab-root{
    color: #b6b6b6 !important;
}